
     
        form{padding: 50px;}
      
        label{color: rgb(103, 124, 224) ;
            
    
        }
   select{width: 435px;
    border-radius: 7px;
    border-color: rgb(226, 225, 225);
height: 39px;}
.couleurbtn{background-color: rgb(92, 114, 224);}

