#button{
    background-color:  #2995b9;
    border-color:  #2995b9;
}
.ajouter{
  margin-left: 670px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color:  #2995b9;
  border-color:  #2995b9;
  width: 20%;
}
#envoyer-form{
  margin-bottom: 10px;
  margin-top: 20px;
  background-color:  #2995b9;
  border-color: #2995b9;
}

.border{
    border: 1px solid  #2995b9;
    padding: 20px 20px 20px 20px;
    border-radius: 0.3rem;
    margin-left: 10px;
    margin-right: 10px;
    width: 98%;
}

.form-label{
    font-weight: bold;
    color: rgb(33, 178, 214);
}

